@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.dropbtn {
  color: grey;
  padding: 21px;
  font-size: 16px;
  width: 100%;
  margin: 20px;
  border: 1px solid #8bbcc9;
  cursor: pointer;
  align-self: left;
}
.marginIt{
  margin: 20px;
  color: #8bbcc9;
}