@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  box-sizing: border-box;
}


body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.containered {
  margin: 30px auto;
  width: 350px;
}

.container-2 {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 40px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin: 50px ;
}

.section {
  background-image: linear-gradient(#f0fcfc,#d7fdfd);
  box-shadow: var(--box-shadow);
  padding: 60px;
  width: 80%;
  border: 5px dotted cornflowerblue;
  border-radius: 1px;
  display: flex;
  justify-content:space-between;
  flex-direction: rows;
  margin: 50px ;
}



.plus {
  color: #077b9b ;
  font-size: 20px;
  letter-spacing: 1px;
}

.minus {
  color: #72050a;
  font-size: 20px;
  letter-spacing: 1px;
}
.ok{
  color: #335e3e;
  font-size: 20px;
  letter-spacing: 1px;
}
.dropbtn {
  background-color: lightblue;
  color: white;
  padding: 21px;
  font-size: 16px;
  width: 70%;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
